In [4]:
import pandas as pd
import numpy as np
##pandas 数据变形 
date ={
'姓名':["张三","李四","王五","赵六","钱七"],
'数学':[85,56,87,98,57],
'英语':[54,67,54,87,89],
'物理':[33,56,83,74,97]
}
df = pd.DataFrame(date)

df.T#行列转置

     0   1   2   3   4
姓名  张三  李四  王五  赵六  钱七
数学  85  56  87  98  57
英语  54  67  54  87  89
物理  33  56  83  74  97

In [12]:
##宽表转换成长表
df2 = pd.melt(df,id_vars=["姓名"],var_name = '科目',value_name= "分数")
print(df2)

    姓名  科目  分数
0   张三  数学  85
1   李四  数学  56
2   王五  数学  87
3   赵六  数学  98
4   钱七  数学  57
5   张三  英语  54
6   李四  英语  67
7   王五  英语  54
8   赵六  英语  87
9   钱七  英语  89
10  张三  物理  33
11  李四  物理  56
12  王五  物理  83
13  赵六  物理  74
14  钱七  物理  97

In [32]:
df2.sort_values("姓名")
pd.pivot(df2,index = ["姓名"],columns = '分数',values ='科目')

ValueError: Index contains duplicate entries, cannot reshape

In [33]:
df2.sort_values("姓名")
pd.pivot(df2,index = ["姓名"],columns = '科目',values ='分数')

科目  数学  物理  英语
姓名
张三  85  33  54
李四  56  56  67
王五  87  83  54
赵六  98  74  87
钱七  57  97  89

In [28]:
##分列
date ={
'姓名':["张三 qwe","李四 qwe","王五 qwe","赵六 qwe","钱七 qwe"],
'数学':[85,56,87,98,57],
'英语':[54,67,54,87,89],
'物理':[33,56,83,74,97]
}
df = pd.DataFrame(date)
df[['first ','last']]= df["姓名"].str.split(' ',expand = True)
print(df)

       姓名  数学  英语  物理 first  last
0  张三 qwe  85  54  33     张三  qwe
1  李四 qwe  56  67  56     李四  qwe
2  王五 qwe  87  54  83     王五  qwe
3  赵六 qwe  98  87  74     赵六  qwe
4  钱七 qwe  57  89  97     钱七  qwe

In [30]:
##数据分箱 pd,cut(x,bins,labels)
import pandas as pd
import numpy as np

# 创建一个包含年龄数据的 DataFrame
data = {'age': [5, 15, 22, 38, 45, 66, 78, 8, 42, 95, 25, 33]}
df = pd.DataFrame(data)

# 将年龄数据分成4个等宽的箱子，等宽分箱
df['age_bin_width'] = pd.cut(df['age'], bins=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
print("--- 等宽分箱 ---")
print(df)


# 将年龄数据分成4个数据量相等的箱子，等频分箱
df['age_bin_freq'] = pd.qcut(df['age'], q=4, labels=['25%', '50%', '75%', '100%'])
print("\n--- 等频分箱 ---")
print(df)

# 根据我们的业务理解来定义年龄段
bins = [0, 12, 18, 45, 65, 100]##【0-12），【12-18），，，，
labels = ['儿童', '青少年', '青年', '中年', '老年']

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=True)
# right=True 表示区间的右边界是包含的，例如 (0, 12]

print("\n--- 自定义分箱 ---")
print(df)

--- 等宽分箱 ---
    age age_bin_width
0     5            Q1
1    15            Q1
2    22            Q1
3    38            Q2
4    45            Q2
5    66            Q3
6    78            Q4
7     8            Q1
8    42            Q2
9    95            Q4
10   25            Q1
11   33            Q2

--- 等频分箱 ---
    age age_bin_width age_bin_freq
0     5            Q1          25%
1    15            Q1          25%
2    22            Q1          50%
3    38            Q2          75%
4    45            Q2          75%
5    66            Q3         100%
6    78            Q4         100%
7     8            Q1          25%
8    42            Q2          75%
9    95            Q4         100%
10   25            Q1          50%
11   33            Q2          50%

--- 自定义分箱 ---
    age age_bin_width age_bin_freq age_group
0     5            Q1          25%        儿童
1    15            Q1          25%       青少年
2    22            Q1          50%        青年
3    38            Q2          75%        青年
4    45            Q2          75%        青年
5    66            Q3         100%        老年
6    78            Q4         100%        老年
7     8            Q1          25%        儿童
8    42            Q2          75%        青年
9    95            Q4         100%        老年
10   25            Q1          50%        青年
11   33            Q2          50%        青年